{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block head_body %} {% endblock head_body %}


  <div class="header_dash">

        <div class="loh">
          <i class="fa-solid fa-stethoscope"><span class="clog"><span> m</span>edical <span>c</span>are</span></i>
        </div>

          <div class="right_area">
              <a href="/Patient_ class.pdf" class="logout_btn">Logout</a>
          </div>
      </div>

    <div class="sidebar">


        <div class="myprofile-photo">
            <div class="profile">
              <input type="file" class="my_file" name="" id="">
            </div>
            <h4>Basem</h4>



        <a href="Dashboard"><i class="fa-sharp fa-solid fa-house"></i><span>Home</span></a>
        <a href="AddDoctor"><i class="fa-solid fa-solid fa-user-doctor"></i><span>Add Doctor</span></a>
        <a href="AddSpecification"><i class="fa-solid fa-solid fa-user-doctor"></i><span>Add Specification</span></a>
        <a href="AddUser"><i class="fa-solid fa-solid fa-user-doctor"></i><span>Add User</span></a>

        <a href="ManageDoctor"><i class="fa-solid fa-user"></i><span>Doctors</span></a>
        <a href="Appointment"><i class="fa-solid fa-calendar-check"></i><span>Appointments</span></a>
        <a href="ManagePatient"><i class="fa-solid fa-hospital-user"></i><span>Patients</span></a>
        <a href="ManageUser"><i class="fa-solid fa-user"></i><span>Users</span></a>
        <a href="ManageSpecification"><i class="fa-solid fa-user"></i><span>Specifications</span></a>


    </div>
        </div>

  {% block content %} {% endblock content %}


</html>

