* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

/* start login */
.log {
    width: 100%;
    height: calc(100vh);
    position: absolute;
    /* display: none; */
    background-color: rgba(0, 0, 0, 0.655);
  } 
  
  .lgn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
  } 
  
  @media(max-width:767px) {
    .lgn {
        width: 75%;
    }
  }
  
  .lgn .logsi {
    margin: 50px 0 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .lgn .logsi h1 a {
    text-decoration: none;
    color: black;
  }
  
  .lgn .input {
    position: relative;
  }
  
  .lgn .input label {
    margin: 100px;
  }
  
  .lgn .input i:first-child {
    color: #D909E3;
    position: relative;
    top: 40px;
    left: 40px;
  }
  @media(max-width:767px){
    .lgn .input i:first-child {
      left: 20px;
    }
  }
  .lgn .input .eye{
    position: absolute;
  }
  .lgn .input .eye #hide2 {
    color: #D909E3;
    position: relative;
    top: 20px;
    left: -60px;
  }
  
  .lgn .input .eye #hide1 {
    display: none;
    position: relative;
    left: -60px;
    top:20px;
  }
  @media(max-width:767px){
    .lgn .input .eye #hide2 {
      left: -40px;
    }
  }
  input:focus {
    outline: none;
  }
  
  .lgn .input input {
    width: 80%;
    height: 50px;
    margin: 0 40px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.179);
    padding-left: 20px;
  }
  @media(max-width:767px) {
    .lgn .input input {
      margin: 0 20px;
    }
  }
  .lgn .input input:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.435);
  }
  
  .lgn .lin a {
    position: absolute;
    right: 40px;
    padding-top: 10px;
    text-decoration: none;
  }
  
  .lgn .btn {
    width: 70%;
    height: 40px;
    margin: 50px 60px 20px;
    color: white;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(to right, #1EC1E2, #D909E3);
  
  }
  @media(max-width:767px){
    .lgn .btn {
    margin: 50px 40px 20px;
    }
  }
  .lgn .btn:hover {
    background-image: linear-gradient(to left, #1EC1E2, #D909E3);
  }
  
  .lgn p {
    text-align: center;
  }
  .lgn .icon {
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
  
  .lgn .icon i {
    font-size: 20px;
    margin: 5px;
  }
  
  .lgn .icon a .fa-google {
    background-color: rgb(255, 106, 0);
    color: white;
    padding: 10px;
    border-radius: 20px;
  }
  
  .lgn .icon a .fa-twitter {
    background-color: #1DA1F2;
    color: white;
    padding: 10px;
    border-radius: 20px;
  }
  
  .lgn .icon a .fa-facebook-f {
    color: white;
    background-color: #3B5998;
    padding: 10px 14px;
    border-radius: 25px;
  } 
  /* end login */