{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block head_body %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashbord</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %} " />
    <link rel="stylesheet" href="{% static 'css/all.min.css' %} " />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>

    {% endblock head_body %} {% block content %}

    <div class="content">
      <div class="search">
       
        <div class="dash-btn">
          <a href="dashbord.html"><button>Home</button></a>
        </div>
      </div>

      <div class="apointment" id="add_apointment">
        <div class="form">
          <div class="form_doctor">
            <p>Edit patient</p>
            <p>Basem's Profile</p>
            <p>password</p>
          </div>
          <div id="container">
            <div id="body_header"></div>

            <form action="index.html" method="post" class="inform">
              <fieldset>
                <div class="inico">
                  <i class="fa-solid fa-user"></i>
                  <input
                    type="text"
                    id="name"
                    name="user_name"
                    placeholder="type your name"
                    required
                    pattern="[a-zA-Z0-9]+"
                  />
                </div>
                <div class="inico">
                  <i class="fa-solid fa-id-card"></i>
                  <input
                    type="email"
                    id="tel"
                    placeholder="enter your email"
                    name="user_num"
                  />
                </div>
                <div class="inico">
                  <i class="fa-solid fa-id-card"></i>
                  <input
                    type="tel"
                    id="tel"
                    placeholder="enter your number"
                    name="user_num"
                  />
                </div>
                <div class="inico">
                  <i class="fa-solid fa-id-card"></i>
                  <input
                    type="text"
                    id="tel"
                    placeholder="enter your address"
                    name="user_num"
                  />
                </div>
                <div class="inico">
                  <input
                    type="file"
                    id=""
                    placeholder="enter your number"
                    name="user_picture"
                  />
                </div>
              </fieldset>
              <fieldset>
                <form action="">
                  <div class="inico">
                    <i class="fa-solid fa-id-card"></i>
                    <input
                      type="text"
                      id="tel"
                      placeholder="enter your city"
                      name="user_num"
                    />
                  </div>

                  <label for="gender">choose your gender</label>
                  <select name="gender" id="">
                    <option value="male">male</option>
                    <option value="female">female</option>
                  </select>
                  <div class="inico">
                    <label for="">enter your description</label>
                    <textarea
                      name=""
                      id=""
                      cols="50"
                      rows="10"
                      class="description"
                    >
 enter your description</textarea
                    >
                  </div>
                </form>
              </fieldset>
            </form>
            <div class="btn">
              <button type="submit">Update</button>
            </div>
          </div>
        </div>
        <div id="portfolio"></div>
      </div>
    </div>
  </body>
  {% endblock content %}
</html>
